body {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: white;
  color: black;
  font-family: 'Lucida Grande', Helvetica, Arial;
  margin: 0;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  background: transparent;
  border: none;
}
button:hover {
  color: #a9ce7f;
}
button:focus {
  outline: none;
}

.fs-explorer {
}
.fs-explorer-tree {
  width: 20%;
  height: 100%;
  float: left;
  border-right: 1px solid #ddd;
  padding: .5em .8em;
}
.fs-explorer-tree li {
  list-style: none;
  clear: both;
}
.fs-explorer-tree ul {
  padding-left: 1em;
}
.fs-explorer-tree i {
  float: left;
  padding: .3em 0;
  color: #35b44f;
}
.fs-explorer-tree button {
  background: transparent;
  border: none;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.fs-explorer-tree button.folder {
  font-weight: bold;
}

/* Files */
.fs-explorer-files {
  float: left;
  width: 75%;
  padding: 0 0 0 .5em;
  margin: 0;
}
.fs-explorer-files table {
  table-layout: fixed;
  width: 100%;
}
.fs-explorer-files button {
  text-align: left;
}
.fs-explorer-files thead {
  border-bottom: 1px solid #ddd;
}
.fs-explorer-files th {
  text-align: left;
}
.fs-explorer-files td, .fs-explorer-files th {
  padding: .5em;
}
